:root {
	--load-primary-color: #4545ff;
	--load-secondary-color: #9999ff;

}

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.sub-container {
  min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sub-container__loading-item1 {
	width: 100px;
	height: 100px;
	border: solid var(--load-primary-color);
	border-width: 11px 7px 10px 25px;
	border-radius: 50%;
	animation: loadAnim1 1s infinite;
	background: linear-gradient(#eeeeff, #fff);
	scale: 0.5;
}

.sub-container__loading-item2 {
	width: 100px;
	height: 100px;
	border: 20px dotted var(--load-primary-color);
	border-radius: 50%;
	animation: loadAnim2 1s infinite linear;
	scale: 0.5;
}

.sub-container__svg1 {
	width: 100px;
	height: 100px;
	animation: loadAnim1 1s linear infinite;
}

.sub-container__loading-item3 {
	fill: none;
	stroke: var(--load-primary-color);
	stroke-width: 4px;
	stroke-linecap: round;
	stroke-dasharray: 100;
}

.sub-container__svg2, .sub-container__svg3{
  animation: loadAnim1 1s linear infinite;
  height: 100px;
  width: 100px;
}

.sub-container__svg3{
  position: absolute;
  animation: loadAnim3 1s infinite;
}

.sub-container__svg-container1{
 position: relative;
 display: flex;
}

.sub-container__loading-item4, .sub-container__loading-item5{
  fill: none;
  stroke: var(--load-primary-color);
  stroke-width: 4px;
  stroke-dasharray: 100;
  stroke-linecap: round;
}

.sub-container__loading-item5{
  stroke: var(--load-secondary-color);
  stroke-dasharray: 50;
}


/* animation */

@keyframes loadAnim1 {
	to {
		rotate: 360deg;
	}
}

@keyframes loadAnim2 {
	0% {
		transform: rotate(-360deg);
	}
	50% {
		scale: 0.65;
	}
}

@keyframes loadAnim3 {
  to {
    rotate: -360deg;
  }
}
